svg {
  height: 100vh;
  width: 100vw;
}

.l {
  fill: #dd0031;
}
.r {
  fill: #c3002f;
}
.a {
  fill: white;
}

.l1 {
  fill: #ffa726;
}
.r1 {
  fill: #fb8c00;
}
.b {
  fill: #ffe0b2;
}
.m {
  fill: #fff3e0;
}
.t {
  fill: #fff;
}
